<div id="logo">
    <img src="../../../../assets/logo_02.png" />
</div>

<div id="message">
    <p>Au delà des règles et des codes de genre ...</p>
    <p>Quel que soit votre niveau ...</p>
    <p class="bold">Prenez votre envol musical !</p>
</div>

<div id="social">
    <p>Vous pouvez <u>me rejoindre / me contacter</u> sur les réseaux suivants :</p>
    <div class="social_flex">
        <img src="../../../../assets/social_icons/facebook_01.png"/>
        <p><a target="_blank" href="https://www.facebook.com/FlyingPAD">www.facebook.com/FlyingPAD</a></p>
    </div>
    <div class="social_flex">
        <img src="../../../../assets/social_icons/youtube_01.png"/>
        <p><a target="_blank" href="https://www.youtube.com/@flyingpad">www.youtube.com/@flyingpad</a></p>
    </div>
    <!-- <div class="social_flex">
        <img src="../../../../assets/social_icons/linkedin_01.png"/>
        <p><a target="_blank" href="">Linkedin/TonyVanLangenhove</a></p>
    </div>
    <div class="social_flex">
        <img src="../../../../assets/social_icons/soundcloud_01.png"/>
        <p><a target="_blank" href="">Soundcloud/FlyingPAD</a></p>
    </div>
    <div class="social_flex">
        <img src="../../../../assets/social_icons/twitter_01.png"/>
        <p><a target="_blank" href="">Twitter/FlyingPAD</a></p>
    </div> -->
</div>