<app-back-scripts></app-back-scripts>

<hr>

<div id="title"><h1>Avant de commencer</h1></div>

<div class="message">
    <p>Bonjour à toutes et à tous !</p>
</div>

<div class="article_box">
    <p>Mon objectif est de construire ici :</p>
    <p> - LE guide ultime du musicien !</p>
    <p>Celui qui vous permettra, quelque soit votre niveau :</p>
    <ul>
        <li>de vous auto-évaluer de manière efficace.</li>
        <li>d'élargir votre vision d'ensemble.</li>
        <li>d'identifier les prochaines étapes qui vous feront passer au niveau supérieur.</li>
    </ul>
</div>

<div class="article_box primary">
    <p>La structure des articles ainsi que leur contenu seront revus et édités en cours de route.</p>
    <p>Vu la masse d'informations à couvrir, il m'est assez difficile d'anticiper une structure définitive.</p>
</div>

<div class="article_box">
    <p> - <b>Comment participer ?</b></p>
    <p>Par soucis de simplicité,</p>
    <p>je vous propose d'utiliser <u>la section commentaires</u> de <a target="_blank" href="https://www.youtube.com/@flyingpad">ma chaîne YouTube</a>.</p>
    <p>L'idée étant de lier chaque script à une vidéo, il nous sera, je pense, plus facile d'interragir de la sorte.</p>
</div>