<div id="title"><h1>SOURCES</h1></div>
<div id="message"><p>Documentation, influences & inspirations</p></div>

<div id="section_flex">
    <section>
        <h2>SITES WEB</h2>
        <p> - Flying PAD : <a target="_blank" href="https://www.flyingpad.be">www.flyingpad.be</a></p>
    </section>

    <section>
        <h2>LIVRES</h2>
        <p> - <a target="_blank" href="http://www.jo-anger-weller.com/102/cles-pour-lharmonie/">Clés pour l'harmonie | Joe Anger Weller</a></p>
    </section>

    <section>
        <h2>CHAÎNES YOUTUBE</h2>
        <p> - <a target="_blank" href="https://www.youtube.com/@MangoldProject">Mangold Project</a></p>
    </section>
</div>