<app-back-scripts></app-back-scripts>

<p>Donc, la musique... QQOQCP ?</p>

<br/><hr/>

<h2>Quoi ?</h2>
<p>La musique, c'est quoi ?</p><br/>

<p>Bien que la musique représente probablement quelque chose de différent pour chacun de nous.</p><br/>

<p>Si on la prend dans son essence :</p>
<p>Il s'agit d'une discipline considérée principalement aujourd'hui comme artistique qui consiste à organiser les sons.</p><br/>
<!-- <p>Le résultat de cette organisation ayant pour but de susciter une réaction émotionnelle de l'auditeur.</p><br/> -->

<p>Ce qui va donc nous mener en toute logique, à parler d'<b>art</b>, de <b>son</b>, et d'<b>organisation</b> !</p>

<br/><hr/>

<h2>Qui ?</h2>
<p>À la base, on est d'accord que le son est un phénomène naturel.</p><br/>

<p>L'être humain étant doté d'organes lui permettant de réceptionner et dinterpréter le son</p>
<p>Il est naturel qu'il y ait été sensible et tout ausi naturel qu'il ait tenté de le reproduire et de se l'approprier</p>

<br/>

<p>L'Histoire ne manque donc pas de grands noms ayant élaborés divers systèmes d'organisation du son</p>
<p>Le système le plus utilisé aujourd'hui porte le nom de <b>système tonal</b></p><br/>

<p>Et bien évidemment, l'être humain étant un animal social,</p>
<p>il est également naturel que certains groupes d'individus aient mis leurs connaissances en commun,</p>
<p>créant ainsi différents courants musicaux, qui ne sont donc que des ensembles de règles à suivre pour organiser les sons.</p>

<br/><hr/>

<h2>Où ?</h2>
<p>Et bien, à peu près partout sur la planète !</p>
<p>Là, où il y a des humains, une culture, on découvre des traces de pratique musicale</p>
<p>Et bien avant le système tonal s'impose à travers le monde</p>
<p>On a vu naître et prospérer sur le globe, de nombreuses méthodes d'organisation du son.</p>
<p>Dont beaucoup existent encore aujourd'hui, d'ailleurs.</p>

<br/><hr/>

<h2>Quand ?</h2>
<p>Et là, du coup, on peut remonter très très loin vers les premiers instruments :</p>
<p>Percussifs... À vent... À cordes...</p>

<br/><hr/>

<h2>Comment ?</h2>
<p>Alors là, c'est le savoir faire humain, dans toute sa splendeur : </p>
<p> - Constatation et observation du phénomène</p>
<p> - Au feeling, un peu, pour commencer...</p>
<p> - Analyse poussée, mesures, ...</p>
<p> - Reproduction des phénomènes en mode essai-erreur...</p>
<p> - Élaboration de théories</p>
<p> - Mise à l'épreuve des différentes théories jusqu'à leur trouver des failles</p>
<p> - Et on recommence !!</p>

<br/><hr/>

<h2>Pourquoi ?</h2>
<p>D'abord par pur plaisir et parce qu'on a rien d'autre à faire, j'imagine ...</p>
<p>Mais blague à part.</p><br/>

<p>Certainement parce que l'humain a vite remarqué que le son suscitait chez ses pairs des réactions émotionnelles diverses et variées... </p>
<p>Le besoin de comprendre... de contrôler ! La nature humaine,  en somme.</p><br/>

<p>On a pu constater tout de même, une certaines utilité au développement de la gestion du son dans les cultures.</p>
<p>Des tambours de guerre, à la séductivité du luth, en passant donc par l'échange et le partage</p>
<p>Qui mène de ce fait au rassemblement populaire.</p>
<p>La musique peut aujourd'hui avoir une multitude de rôle bien définis et différents les uns des autres.</p>


<p>Voilà, un simple QQOQCP sur la musique,</p>
<p>Et déjà, on aborde de nombreux sujets intéressants.</p><br/>

<p>L'art, le son, l'organisation, le système tonal, les courants musicaux, ...</p>

<p>Je reviendrai évidemment sur chacun de ces sujets plus en profondeur par la suite.</p>
<p>Mais pour éviter de se perdre directement, je ne vais pas trop entrer les détails pour commencer.</p><br/>

<p>D'abord, la vision d'ensemble et ensuite, nous pourrons aller chercher les détails.</p> 