<div id="title"><h1>OUTILS</h1></div>
<div id="message"><p>Les indispensables</p></div>

<div id="section_flex">
    <section>
        <h2>OUTILS CUSTOM</h2>
        <p> - <a routerLink="/chord-wheel">Chord Wheel</a></p>
        <!-- <p> - <a routerLink="/metronome">Metronome</a></p> -->
    </section>
    <!-- <section>
        <h5>Synthèses</h5>
        <p> - <a routerLink="/table-transposition">Tableau de Transposition Tonal</a></p>
        <p> - <a routerLink="/table-alterations">Altérations | ordre des Dièzes & Bémols</a></p>
    </section>
    <section>
        <h5>Exercices</h5>
        <p> - <a routerLink="/exo-keys-notes-a">Clavier - Nom des Notes</a></p>
    </section> -->
    <section>
        <h2>OUTILS EXTERNES</h2>
        <p> - <a target="_blank" href="https://www.google.com/search?q=metronome">Metronome Google</a></p>
    </section>
</div>