<app-back-scripts></app-back-scripts>


<p>Vous allez voir que j'aime bien structurer mon travail aux petits oignons.</p>
<p>Et ça va être nécessaire ici, vu la quantité de matière à traiter !</p>
<p>Ainsi, il me fallait une méthode d'approche, et au cours de mes recherches, je suis tombé sur la méthode QQOQCP.</p><br/>

<p>En gros, c'est une méthode de recherche qui vise à cerner un sujet en le plaçant avant tout dans un contexte global.</p>
<p>en posant ces 6 questions élémentaires : Quoi ? Qui ? Où ? Quand ? Comment ? Pourquoi ?</p>
<p>Si le sujet vous intéresse, je vous renvoie vers une 
<a target="_blank" href="https://www.google.com/search?q=qqoqcp">recherche google ( QQOQCP )</a></p><br/>

<p>De toute façon, j'utiliserai donc cette méthode, pour approcher les différents concepts dont j'ai envie de parler.</p>

<br/><hr/>

<p>Je vous invite évidemment à réagir à souhait sur le moindre détail qui vous turlupine</p>
<p>Et également à me contacter directement si vous désirez que je traite un sujet ou une question qui vous tient à coeur !</p><br/>

<p>Vous pouvez le faire :</p>
<p> - Sur Youtube : en commentaire de la vidéo traitant du sujet qui vous intéresse</p>
<p> - Sur Facebook : par message privé ou en réaction à un lien ou un article</p>
<p> - Par mail : à l'adresse <a href="mailto:tonyvan@live.fr">tonvan@live.fr</a></p> 