<div id="title"><h1>SCRIPTS</h1></div>
<div id="message"><p>Les scripts de chacune de mes vidéos</p></div>

<div id="section_flex">
    <section>
        <h2>Niveau 1</h2>
        <p>- <a routerLink="/intro">Avant de commencer</a></p>
        <p>1. <a routerLink="/key-ref">La Référence Clavier</a></p>
        <p>2. <a routerLink="/notes">Nommer les Notes (en français)</a></p>
        <p>3. <a routerLink="/notes-trad">Nommer les Notes (en anglais)</a></p>
        <p>4. <a routerLink="/pulsation">La Pulsation</a></p>
        <p>5. <a routerLink="/metrics-a">Les Métriques ( 1 )</a></p>
        <!-- <p>6. <a routerLink="/time-values-a">Les Métriques ( 2 ) : Les Valeurs de Temps</a></p> -->
        <!-- <p>6. <a routerLink="/melody">La Mélodie</a></p>
        <p>7. <a routerLink="/harmony">L'Harmonie</a></p> -->
    </section>
    <!-- <section>
        <h2>LES BASES - Niveau 2</h2>
        <p>- <a routerLink="/intro-b">Avant de passer à la suite</a></p>
        <p>1. <a routerLink="/a-accords">La Tonalité</a></p>
        <p>2. <a routerLink="/a-intervalles">Les Intervalles</a></p>
        <p>3. <a routerLink="/a-gammes">Les Gammes</a></p>
        <p>4. <a routerLink="/a-accords">Les Accords ( 3 Sons )</a></p>
        <p>5. <a routerLink="/a-accords">Les Accords ( 4 Sons et plus )</a></p>
    </section> -->
    <!-- <section>
        <h5>Conseils Pratiques</h5>
        <p> - <a routerLink="/c-practice">Bonnes Pratiques</a></p>
        <p>1. <a routerLink="/c-metronome">Metronome</a></p>
        <p>2. <a routerLink="/c-fragmentation">Le Travail Fragemnté</a></p>
    </section>
    <section>
        <h5>Vocabulaire</h5>
        <p>1. <a routerLink="/jargon">Le Jargon Musical</a></p>
    </section>
    <section>
        <h5>Analyse</h5>
        <p>1. <a routerLink="/a-qqoqcp">La méthode QQOQCP</a></p>     
        <p>2. <a routerLink="/q-q-o-q-c-p-musique">QQOQCP n°1 : La Musique</a></p>
    </section> -->
</div>